@model TimeEntriesModel
@{
    ViewBag.Title = "CreateTimeEntry";
}

<div class="block block-rounded">
    <div class="block-header block-header-default block-header-rtl">
        <h3 class="block-title">@ViewBag.Title</h3>
        <div class="block-options">
            <a href="@Url.Action("Index", new{date=Model.Date})" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Back to Index</a>
        </div>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-lg-4">
                <p class="text-muted">
                    An often used layout which is very easy to create with minimal markup
                </p>
                <div class="row items-push text-center text-sm-start mb-12">
                    <div class="col-sm-12 col-xl-12">
                        <button id="get-events" class="btn btn-sm btn-alt-primary">Get Events</button>
                    </div>
                    <div class="col-sm-12 col-xl-12">
                        <a id="event-start" class="btn btn-sm btn-alt-primary push" href="javascript:void(0)">Start: <span id="event-start-val"></span></a> 
                        <a id="event-end" class="btn btn-sm btn-alt-primary push" href="javascript:void(0)">End: <span id="event-end-val"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-xl-5">
                @using (Html.BeginForm("CreateTimeEntry", "Home", FormMethod.Post, new { @class = "mb-5" }))
                {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatorId)
                    @Html.HiddenFor(model => model.TimeTimerStart)
                    @Html.HiddenFor(model => model.TimeEstimated)
                    @Html.HiddenFor(model => model.MemberId)
                    @Html.HiddenFor(model => model.IsFromToShow)
                    @Html.HiddenFor(model => model.LastEditorUserId)

                    <div class="row mb-4">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            <input type="text" class="js-datepicker form-control" data_date_format="dd/mm/yyyy" name="Date" id="Date" value="@Model.Date.ToString("MM/dd/yyyy")" />
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.ProjectId, Model.AvailableProjects, new { @class = "form-select" })
                        </div>
                    </div>
                    
                    <div class="row mb-4">
                        @Html.LabelFor(model => model.TaskTypesId, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.TaskTypesId, Model.AvailableTasks, new { @class = "form-select" })
                        </div>
                    </div>

                    <div class="row mb-4">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Description,  new { @class = "form-control", rows="4" } )
                        </div>
                    </div>
                    
                    
                    <div class="row mb-4">
                        @Html.LabelFor(model => model.TimeFromStr, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.TimeFromStr, new {htmlAttributes = new {
                                @class = "js-flatpickr form-control",
                                data_enable_time="true",
                                data_no_calendar="true",
                                data_enable_seconds="true",
                                data_minute_increment="1",
                                data_date_format ="H:i:S"
                            }})
                        </div>
                    </div>

                    <div class="row mb-4">
                        @Html.LabelFor(model => model.TimeToStr, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.TimeToStr, new {htmlAttributes = new {
                                @class = "js-flatpickr form-control",
                                data_enable_time = "true",
                                data_no_calendar = "true",
                                data_enable_seconds = "true",
                                data_minute_increment = "1",
                                data_date_format = "H:i:S"
                            }})
                        </div>
                    </div>

                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet"/>
    <link href="~/Content/js/plugins/flatpickr/flatpickr.css" rel="stylesheet"/>
}

@section scripts {
    <script src="~/Content/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/plugins/flatpickr/flatpickr.min.js"></script>
    <script>Dashmix.helpersOnLoad(['js-flatpickr', 'jq-datepicker']);</script>
    <script>
        $(function () {
            $("#event-start").hide();
            $("#event-end").hide();;
            $(document).on("click", "#get-events", function () {

                // Clear old events
                $("#event-start-val").text("").hide();
                $("#event-end-val").text("").hide();;

                Dashmix.layout('header_loader_on');

                $.ajax({
                    method : "POST",
                    url : "@Url.Action("GetSystemEvents", "Home")",
                    data: { daytime : "@Model.Date.ToString("MM/dd/yyyy hh:mm:ss")" }
                }).done(function (msg) {
                    Dashmix.layout('header_loader_off');

                    if (msg.EventStart && msg.EventStart != "") {
                       
                        $("#event-start").show();
                        $("#event-start-val").text(msg.EventStart).show();
                       
                    }
                            
                    if (msg.EventEnd && msg.EventEnd != "") {
                        
                        $("#event-end").show();
                        $("#event-end-val").text(msg.EventEnd).show();
                    }
                           
                });
            });

            $(document).on("click", "#event-start", function ()
            {
                
                $("#FromTime").val($(this).find("#event-start-val").text());
                var data = $("#event-start-val").text();
                $("#FromTime").flatpickr("set", "enable", data);
            });

            $(document).on("click", "#event-end", function ()
            {
                $("#ToTime").val($(this).find("#event-end-val").text());
                var data = $("#event-end-val").text();
                $("#ToTime").flatpickr("set", "enable", data);
            });
        })
    </script>
}