@model TimeEntriesModel
@{
    ViewBag.Title = "CreateTimeEntry";
}

<div class="block block-rounded">
    <div class="block-header block-header-default block-header-rtl">
        <h3 class="block-title">@ViewBag.Title</h3>
        <div class="block-options">
            <a href="@Url.Action("Index", new{dateString=Model.Date.ToString("d")})" class="btn btn-sm btn-secondary"><i class="fa fa-angle-left"></i> Back to Index</a>
        </div>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-lg-4">
                <p class="text-muted">
                    An often used layout which is very easy to create with minimal markup
                </p>
                <div class="row items-push text-center text-sm-start mb-12">
                    <div class="col-sm-12 col-xl-12">
                        <button id="get-events" class="btn btn-sm btn-alt-primary">Get Events</button>
                    </div>
                    <div class="col-sm-12 col-xl-12">
                        <a id="event-start" class="btn btn-sm btn-alt-primary push event-start" href="javascript:void(0)">Start: <span></span></a>
                        <a id="event-end" class="btn btn-sm btn-alt-primary push event-end" href="javascript:void(0)">End: <span></span></a>
                    </div>
                </div>

                <div class="row items-push text-center text-sm-start mb-12">
                    <div class="col-sm-12 col-xl-12">
                        @Model.PreviewsTask.Project,
                        @Model.PreviewsTask.Task,
                        @Model.PreviewsTask.Description
                    </div>
                    <div class="col-sm-12 col-xl-12">
                        <a class="btn btn-sm btn-alt-primary push event-start" href="javascript:void(0)">Start: <span>@Model.PreviewsTask.FromTime.Replace(":000", "")</span></a>
                        <a class="btn btn-sm btn-alt-primary push event-start" href="javascript:void(0)">Start: <span>@Model.PreviewsTask.ToTime.Replace(":000", "")</span></a>
                    </div>
                </div>

            </div>
            <div class="col-lg-8 col-xl-5">
                @using (Html.BeginForm("CreateTimeEntry", "Home", FormMethod.Post, new { @class = "mb-5" })) {
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatorId)
                    @Html.HiddenFor(model => model.TimeTimerStart)
                    @Html.HiddenFor(model => model.TimeEstimated)
                    @Html.HiddenFor(model => model.MemberId)
                    @Html.HiddenFor(model => model.IsFromToShow)
                    @Html.HiddenFor(model => model.LastEditorUserId)

                    <div class="row mb-4">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            <input type="text" class="js-datepicker form-control" data_date_format="dd/MM/yyyy" name="Date" id="Date" value="@Model.Date.ToString("d")" />
                        </div>
                    </div>
                    <div class="row mb-4">
                        @Html.LabelFor(model => model.ProjectId, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.ProjectId, Model.AvailableProjects, new { @class = "form-select" })
                        </div>
                    </div>

                    <div class="row mb-4">
                        @Html.LabelFor(model => model.TaskTypesId, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.DropDownListFor(model => model.TaskTypesId, Model.AvailableTasks, new { @class = "form-select" })
                        </div>
                    </div>

                    <div class="row mb-4">
                        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "4" })
                        </div>
                    </div>


                    <div class="row mb-4">
                        @Html.LabelFor(model => model.TimeFromStr, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.TimeFromStr, new {htmlAttributes = new {
                                @class = "js-flatpickr form-control",
                                data_enable_time="true",
                                data_no_calendar="true",
                                data_enable_seconds="true",
                                data_minute_increment="1",
                                data_date_format ="H:i:S"
                            }})
                        </div>
                    </div>

                    <div class="row mb-4">
                        @Html.LabelFor(model => model.TimeToStr, htmlAttributes: new { @class = "col-sm-4 col-form-label" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.TimeToStr, new {htmlAttributes = new {
                                @class = "js-flatpickr form-control",
                                data_enable_time = "true",
                                data_no_calendar = "true",
                                data_enable_seconds = "true",
                                data_minute_increment = "1",
                                data_date_format = "H:i:S"
                            }})
                        </div>
                    </div>

                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section styles {
    <link href="~/Content/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/js/plugins/flatpickr/flatpickr.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Content/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/plugins/flatpickr/flatpickr.min.js"></script>
    <script>Dashmix.helpersOnLoad(['js-flatpickr', 'jq-datepicker']);</script>
    <script src="~/Content/js/jquery.eventlogs.js"></script>

    <script>
        $(function () {
            var getEvents = $("#get-events").eventlogs({
                url : "@Url.Action("GetSystemEvents", "Home")",
                date : "@Model.Date.ToString("d")",
                startEvent: { tringer: "#event-start", field:"#TimeFromStr" },
                endEvent: { tringer: "#event-end", field: "#TimeToStr" }
            });
        })
    </script>
}