@model DayTasks
@{
    ViewBag.Title = "Update Time Entry";
}
<div class="block block-rounded">
    <div class="block-header block-header-default block-header-rtl">
        <h3 class="block-title">@ViewBag.Title</h3>
        <div class="block-options">
            @Html.ActionLink("Create New", "Create", "", htmlAttributes: new { @class = "btn btn-sm btn-primary" })
        </div>
    </div>
    <div class="block-content">
        <div class="row">
            <div class="col-lg-4">
                <p class="text-muted">
                    An often used layout which is very easy to create with minimal markup
                    <br/>Events Start @Model.EventStart
                    <br/>Events End @Model.EventEnd
                </p>
            </div>
            <div class="col-lg-8 col-xl-5">
                @using (Html.BeginForm("UpdateTimeEntry", "Home", FormMethod.Post, new {@class = "mb-5"})) {

                    <div class="mb-4">
                        @Html.LabelFor(model => model.Id, htmlAttributes: new {@class = "form-label"})
                        @Html.EditorFor(model => model.Id, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new {@class = "form-label"})
                        @Html.TextBoxFor(model => model.Date, "{0:dd/MM/yyyy}", new { @class = "js-datepicker form-control", data_date_format = "dd/mm/yyyy" } )
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(model => model.Project, htmlAttributes: new {@class = "form-label"})
                        @Html.EditorFor(model => model.Project, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(model => model.Task, htmlAttributes: new {@class = "form-label"})
                        @Html.EditorFor(model => model.Task, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(model => model.FromTime, htmlAttributes: new {@class = "form-label" })
                        @Html.EditorFor(model => model.FromTime, new {htmlAttributes = new {
                            @class = "js-flatpickr form-control",
                            data_enable_time = "true",
                            data_no_calendar = "true",
                            data_enable_seconds = "true",
                            data_minute_increment = "1",
                            data_date_format = "H:i:S"
                        }})
                    </div>
                    <div class="mb-4">
                        @Html.LabelFor(model => model.ToTime, htmlAttributes: new {@class = "form-label"})
                        @Html.EditorFor(model => model.ToTime, new {htmlAttributes = new {
                            @class = "js-flatpickr form-control",
                            data_enable_time="true",
                            data_no_calendar="true",
                            data_enable_seconds="true",
                            data_minute_increment="1",
                            data_date_format ="H:i:S"
                        }})
                    </div>
                    <div class="mb-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section styles {
    <link href="~/Content/js/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/js/plugins/flatpickr/flatpickr.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/Content/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/plugins/flatpickr/flatpickr.min.js"></script>
    <script>Dashmix.helpersOnLoad(['js-flatpickr', 'jq-datepicker']);</script>
}